[Desktop Entry]
Name=WmTictactoe
Comment=TicTacToe
Comment[pl]=Kółko i Krzyżyk
Exec=wmtictactoe
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
