[Desktop Entry]
Name=WmTictactoe
Comment=TicTacToe
Comment[pl]=Kółko i Krzyżyk
Exec=wmtictactoe
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
Encoding=UTF-8
# vi: encoding=utf-8
